<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 
    
    
	<bean id ="helloSpring" class="com.oocl.ita.yapo.day13.sampleexercise.HelloSpringTest">
		<property name="message" value="Hey dude!"/>
	</bean>
	
	<bean id ="helloSpring3" class="com.oocl.ita.yapo.day13.sampleexercise.HelloSpring_init_dest" init-method="init" destroy-method="destroy">
		<property name="message" value="Hey dude!"/>
	</bean>
</beans>